{% extends "layout.html" %}
{% block page %}

{% for letter in recipies %}
    <h2>{{ letter }}</h2>
    {% for recipe in recipies[letter] %}
        <div><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></div>
        {% endfor %}
    {% endfor %}
{% endblock %}