{% macro recipeCard(recipe) %}
    <div class="card">
    <div class="card-body">
        <h2><a class="card-title" href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></h2>


        <h5>contributed by <a href="/chef/{{ recipe.author_id }}">{{ recipe.author.displayname }}</a></h5>
        {% if recipe.serving_size %}
        <p>Serving Size: {{ recipe.serving_size }}</p>
        {% endif %}
    <div class="row">
        <div class="col-md-3 order-sm-2 order-md-1">
        <h3>Ingredients</h3>
        {% for item in recipe.list_ingredients %}
            {{ item }}<br>
        {% endfor %}
        </div>
        <div class="col-md-7 order-sm-3 order-md-2">
            <h3>Instructions</h3>
            {% for item in recipe.list_instructions %}
            {{ item }}<br><br>
        {% endfor %}
        </div>
        <div class="col-md-2 order-sm-1 order-md-3">
            {% if recipe.image_link %}
    <img class="card-img" src="{{ recipe.image_link }}">
    {% endif %}
        </div>
    </div>
    {% if current_user.admin or current_user == recipe.author%}
        <div class="row">
            <form class="col-sm-1" action="/edit/{{ recipe.id }}" method="get">
                <button class="btn btn-primary" type="submit">Edit</button>
            </form>
            <form class="col-sm-1" action="/delete/recipe/{{ recipe.id }}" method="post">
               <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        {% if recipe.image_link %}
            <form class="col-sm-1" action="/delete/recipe/{{ recipe.id }}/photo" method="post">
                <button class="btn btn-danger" type="submit">Delete Photo</button>
            </form>
        {% endif %}
        </div>
    {% endif %}
    </div>
    </div>
{% endmacro %}


{% macro pagination(paginator) %}
     <nav aria-label="Recipe list navigation">
    <ul class="pagination">
    {%  if paginator.has_prev %}
        <li class="page-item"><a class="page-link" href="?page={{ paginator.prev_num }}">Previous</a></li>
    {% endif %}
        {% for page in paginator.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
            {% if page %}
                  {% if page != paginator.page %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                  {% else %}
                      <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                  {% endif %}
                {% else %}
                <li class="page-item"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}
    {%  if paginator.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ paginator.next_num }}">Next</a></li>
    {% endif %}
    </ul>
    </nav>

{% endmacro %}