{% extends "layout.html" %}
{% block page %}
<form action="" method="post", enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title() }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.serving_size.label }}<br>
            {{ form.serving_size() }}<br>
            {% for error in form.serving_size.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ingredients.label }}<br>
            {{ form.ingredients() }}<br>
            {% for error in form.ingredients.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.instructions.label }}<br>
            {{ form.instructions() }}<br>
            {% for error in form.instructions.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.photo.label }}<br>
            {{ form.photo() }}<br>
            {% for error in form.photo.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    <p><input id="submit_button" name="submit_button" value="{% if 'edit' in request.path %}Update{% else %}Post{% endif %}" type="submit"></p>
</form>

{% endblock %}